body {
	font-family: 'Montserrat', sans-serif;
}

.titulocentralizado {
	font-size: 5em;
	margin: 0 0 1em;
	text-align: center;
	color:  #F5DEB3;
	padding:  20px;
	font-weight: bold;
}

.beneficios {
	width: 100%;
	background: linear-gradient(#A0522D,#F5DEB3);
}

.imagembeneficios {
	margin: 21px auto;
	width:  50%;
	display: block;

}

.beneficios ul {
	display: inline;
	text-align: center;
	margin: 20px auto;
	color: #F5DEB3;
	padding: 20px;
	font-size: 30px;
}

.beneficios li {
	margin:  0 0 0 15px;
}

.beneficios iframe {
	margin: 20px auto;
	display: block;
	padding: 20px;
}
