.banner {
	width: 100%;
	margin: 0;
}

.principal {
	background: linear-gradient(#DEB887,#F5DEB3);
	padding: 3m;
	width: 100%;
}

.utensilios {
	width: 20%;
	position: relative;
	box-shadow: 10px 10px 5px #8B4513;
}

em strong {
	color: #8B4513;
}

.principal h2 {
	font-size: 5em;
	text-align: center;
	color: #8B4513;
}

#missao {
	 font-size: 30px
}

