body {
	font-family: 'Montserrat', sans-serif;
}

/* css do header */

.caixa {
	background: #F5DEB3;
	padding: 20px 0;
	position: relative;
	width: 100%px;
	margin: 0 auto;
}

/* css do navegador */

nav {
	position: absolute;
	top: 110px;
	right: 20px;
}

nav li {
	display: inline;
	margin:  0 10px 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #8B4513;
	font-weight: bolder;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #F0AAC4
}

p {
	text-align: center;
	font-size: 20px;
	padding: 10px;
}

/* css inputs */

main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.inputpadrao {
	display:  block;
	margin:0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0 20px ;
}

.submit {
	width: 60%;
	margin: 20px 0;
	padding: 20px 0 20px;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 10px;
	transition: 1s all;
	cursor: pointer;
}

.submit:hover {
	background: darkorange;
	transform: scale(1.1);
}

table {
	margin: 20px 60px 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bolder;
}

td, th {
	border: 1px solid #000000;
	padding: 5px;
}

/* css do footer */

footer {
	text-align: center;
	background: #F5DEB3;
	padding: 50px;
	margin-top: 70px;	
}

.logorodape {
	width: 100px;
	vertical-align: bottom;
}
